.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
  font-family: "Varela", sans-serif;
}

.list {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 770px) {
  .list {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
