* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #f8fafc;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 5rem;
  background-color: #ff0033;
  display: flex;
}

.footer {
}
